# Python
__pycache__/
*.py[cod]
*.pyc
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environment
.env
.venv/
venv/
ENV/
env/
*.env

# Django migrations
*/migrations/*

# IDE
.vscode/
.idea/

# Django
db.sqlite3
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
